<div class="card main-text-color main-bg">
  <div class="card-header mt-5">
    <p class="login__title fw-bold text-uppercase">Log<span class="attribute-text-color">in</span></p>
    <p>Please enter your Login and Password</p>
  </div>
  <div *ngIf="errorMessage.length > 0" class="error mb-2">
    {{ errorMessage }}
  </div>
  <form class="card-body mb-5" [formGroup]="loginForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text login__input-group-text h-100 main-bg main-text-color">
          <span class="fa fa-envelope"></span>
        </span>
      </div>
      <input type="text"
             class="form-control form-control-lg main-bg main-text-color"
             formControlName="email"
             placeholder="Email"
             aria-label="Email"
             id="email"
             [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      >
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
           class="invalid-feedback"
      >
        Please enter correct Email
      </div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text login__input-group-text h-100 main-bg main-text-color">
          <span class="fa fa-key"></span>
        </span>
      </div>
      <input type="password"
             class="form-control form-control-lg main-bg main-text-color"
             formControlName="password"
             placeholder="Password"
             aria-label="Password"
             id="password"
             [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
      >
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
           class="invalid-feedback"
      >
        Please enter password
      </div>
    </div>

    <div class="mt-5">
      <button class="btn btn-lg px-5 text-uppercase main-text-color btn-outline-main login__submit-btn login__btn-border-width-2"
              type="submit"
              (click)="login()"
      >
        Login
      </button>
      <p class="small pt-3">
        <span class="attribute-text-color link-text">Forgot password?</span>
      </p>
      <p class="pt-1">
        Don't have an account? <span (click)="goToRegistration()" class="attribute-text-color link-text">Sign Up</span>
      </p>
    </div>
    <div>
    </div>
  </form>
</div>
