.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.login-title {
  font-size: 2rem;
}

.submit-btn {
  font-size: 0.8rem;
}

.btn-border-width-2 {
  border-width: 2px;
}
