@import 'bootstrap-reboot';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'app/styles/mixins';
@import 'app/styles/themes/dark-theme';

.dark-theme {
  @include set-theme($dark-theme);
}

.error {
  color: $bootstrap-form-error-color;
}

.link-text {
  cursor: pointer;
}

.login__input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.login__title {
  font-size: 2rem;
}

.login__submit-btn {
  font-size: 0.8rem;
}

.login__btn-border-width-2 {
  border-width: 2px;
}


