<div class="card main-text-color main-bg">
  <div class="card-header mt-5">
    <p class="login__title fw-bold text-uppercase">Reset <span class="attribute-text-color">password</span></p>
    <p>Please enter your Email to proceed</p>
  </div>
  <div *ngIf="errorMessage.length > 0" class="error mb-2">
    {{ errorMessage }}
  </div>
  <div *ngIf="statusMessage.length > 0" class="success mb-2">
    {{ statusMessage }}
  </div>
  <form class="card-body mb-5" [formGroup]="resetPasswordForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text login__input-group-text h-100 main-bg main-text-color">
          <span class="fa fa-envelope"></span>
        </span>
      </div>
      <input type="text"
             class="form-control form-control-lg main-bg main-text-color"
             formControlName="email"
             placeholder="Email"
             aria-label="Email"
             id="email"
             [class.is-invalid]="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched"
      >
      <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched"
           class="invalid-feedback"
      >
        Please enter correct Email
      </div>
    </div>

    <div class="mt-5">
      <button class="btn btn-lg px-5 text-uppercase main-text-color btn-outline-main login__submit-btn login__btn-border-width-2"
              type="submit"
              (click)="resetPassword()"
      >
        Reset
      </button>
      <p class="small pt-3">
        <span (click)="goBack()" class="attribute-text-color link-text">Go back</span>
      </p>
    </div>
    <div>
    </div>
  </form>
</div>
